*{
    margin: 0;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.header{
    height: 100Vh;
    width: 100%;
    background-image: url(images/1657119784034.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.head-div{
    padding: 9% 12%;
    color: rgb(241, 234, 234);
    text-align: center;
}
#head-line{
    font-size: 60px;
    font-weight: 1000;
    color: white;
}
h3{
    color: burlywood;
    margin: 10px;
}
.button{
    padding: 15px 20px;
    margin-top: 40px;
    border-radius: 7px;
    background-image: linear-gradient(180deg, orange,  #FF5959);
}
.section-tow{
    background-color: #e6ffff;
    text-align: center;
    padding: 6% 10%;
    color: rgba(44, 104, 71, 0.521);
}
.donate-head{
    font-size: 45px;
    font-weight: 600;
    color: rgb(100, 21, 21);
}
.tk-option{
    display: flex;
    justify-content: space-evenly;
}
.taka{
    color: darkseagreen;
    font-weight: 1000;
    height: 40px;
    width: 140px;
    margin: 30px -50px;
    padding: 30px 7px;
    background-color: gainsboro;
    border-radius: 10px;
}
#tk-amount{
    border: none;
    border-bottom: 2px solid rgba(44, 104, 71, 0.521);
    background-color: rgba(44, 104, 71, 0.521);
    height: 20px;
    width: 500px;
    text-align: center;
    color: rgb(42, 51, 51);
}
.section-both{
    background-color: #e6ffff;
    text-align: center;
}
.plan-box{
    display: flex;
    justify-content: space-evenly;
    padding: 0 5%;
    margin: 4pc 0 7pc;
}
.plan{
    width: 20%;
    height: 15pc;
    padding: 40px 40px 60px;
    text-align: left;
    border-radius: 10px;
}
.member{
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0;
}
.pic img{
    height: 200px;
    width: 190px;
}
.update{
    padding: 7% 17pc;
}
.inp-btn{
    height: 180px;
    width: 809px;
    background-color: #FFF4D6;
    margin-top: 40px;
    padding-top: 45px;
}
footer{
    color: red;
    background-color: black;
    height: 6pc;
    padding-top: 2pc;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-family: 'Poppins', sans-serif;
    text-align: center;

}
